<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}RPS{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}

        <script type="text/javascript" src="/dist/javascript/vendor.bundle.js"></script>
        <script type="text/javascript" src="/dist/javascript/main.js"></script>
    </body>
</html>
